{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}

<style>
	.to-do{
		text-decoration: none;
		transition: all .5s;
	}

	.to-do:hover{
		color: black;
	}
</style>

	{% for td in user.todolist.all %}
		<p><a class="to-do" href="/{{td.id}}">{{td.name}}</a></p>
		<form action="{% url 'delete' td.id %}" method="POST">
			{% csrf_token %}
			<div class="mb-1">
				<a href="/delete"><button class="btn btn-danger">Delete</button></a>
			</div>
		</form>
		
		<br>
	{% endfor %}
{% endblock %}