{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}

<style>
	.to-do{
		text-decoration: none;
		transition: all .5s;
	}

	.to-do:hover{
		color: black;
	}
</style>

	{% for td in user.todolist.all %}
		<p><a class="to-do" href="/{{td.id}}">{{td.name}}</a></p>
		<!-- <a class="btn btn-sm btn-light" href="{% url 'update_task' td.id %}">Update</a> -->
		<!-- <a href="{% url 'update_task' td.id %}"><button class="btn btn-primary me-2">Update</button></a> -->
		<form action="{% url 'delete' td.id %}" method="POST">
			{% csrf_token %}
			<div class="mb-1">
				<button class="btn btn-danger">Delete</button>
			</div>
		</form>
		
		<br>
	{% endfor %}
{% endblock %}